[Unit]
Description=Simple random DNS, HTTP/S internet traffic noise generator

[Service]
User=pi
WorkingDirectory=/home/pi/Desktop/Noisy
ExecStart=/usr/bin/python /home/pi/Desktop/Noisy/noisy.py --config /home/pi/Desktop/Noisy/config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
